* {
  box-sizing: border-box;
  font-size: 62.5%;

  /* colors */
  --darkRed: #BF0426;
  --dark: #0B0E18;
  --darkBlue: #172D44;
  --lightBrown: #918E9B;
  --white: #FFF;

  /* font sizes */
  --medium: 1.2rem;
  --litle: 0.9rem;
  --title: 4rem;
  --subtitle: 1.4rem;
  --plusub: 1.6rem;

  /* font weigths */
  --light: 300;
  --regular:500;
  --bold:600;
}

body {
  color: var(--white);
  background-color: var(--dark);
  font-family: 'Poppins', sans-serif;
}

.dropArea {
  background: var(--darkBlue);
  border: 2px dashed var(--white);
  border-radius: 8px;
  font-size: var(--plusub);
  padding: 50px;
  position: relative;
  margin: 20px auto;
  max-width: 500px;
  text-align: center;
}

.active::before, label:before {
  animation: glowing 20s linear infinite;
  background: linear-gradient(
    45deg,
    red, blue, deeppink, blue,
    red, blue, deeppink, blue
    );
  background-size: 800%;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

.active::before {
  filter: blur(16px);
}

label:before {
  filter: blur(4px);
}

p {
  font-size: var(--plusub);
  margin: auto;
  text-align: center;
}

input {
  display: none;
}

label {
  border-radius: 8px;
  text-align: center;
  font-size: var(--medium);
  padding: 8px;
  background-color: var(--darkBlue);
  position: relative;
}

.select {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 4px 0px 24px;
}

hr {
  border: 0.5px solid var(--darkBlue);
  margin: 0px auto 24px;
  width: 70%;
}

.result {
  font-size: var(--medium);
}

img, video {
  max-width: 200px;
  margin: 8px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}